{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}


<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg">
                <div class="p-5">
                    <h1>Acerca de mí</h1>
                    <p>Mi nombre es Gloria, tengo 31 años y para hacer este trabajo me inspiré un tema que suena con fuerza en los últimos tiempos: LOS VEHÍCULOS. 
                    <p>No soy experta en el tema pero lo que me interesa, además de aprender a programar,  aprender cada día un poco más sobre Vehiculos.
                    </p>
                    <h1>Proyecto Final</h1>   
                    <p>Esta web está diseñada para poder reservar vehículos de la tienda INFOCAR.
                        Además podes ver las últimas novedades sobre vehículos y consultar algunos tips.
                    </p>
                    <div class="col-lg-6">
                        <div class="p-5" ><img class="img-fluid rounded-circle" src="{%static 'assets/img/estudiante.png' %} " alt="..." /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock contenidoQueCambia %}