{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
<script src="https://unpkg.com/htmx.org@1.8.2" integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu" crossorigin="anonymous"></script>
<div class="container-lg">
    <h1 class="display-3">Lista de Vehiculos</h1>
</div>
<div class="container">
    <table class="table">
        <tr class="table-primary"> 
            <th>Tipo</th>
            <th>Segmento</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Versión</th>
            <th>Publicado</th>
            <th>Imagen</th>
            <th>Editar/Eliminar</th>
        </tr>
        {% for vehiculo in vehiculos %}
        <tr > 
            <td >             
                {{vehiculo.idTipoVehiculo}}            
            </td>
            <td >             
                {{vehiculo.idSegmento}}            
            </td>
            <td >             
                {{vehiculo.marca}}            
            </td>
            <td >             
                {{vehiculo.modelo}}            
            </td>
            <td >             
                {{vehiculo.version}}            
            </td>
            <td >             
                {% if vehiculo.publicar == 0 %}
                NO
                {% else %}   
                SI
                {% endif %}       
            </td>
            <td >             
                {% if vehiculo.imagenVO != None %}
                <a class="btn-link" 
                href="{% url 'VerImagenVO' vehiculo.id %}">VER</a>
                {% else %}   
                Sin imagen
                {% endif %}       
            </td>
            <td >             
            <a class="btn btn-warning " 
                href="{% url 'EditarVO' vehiculo.id %}"><i class="far fa-edit"></i></a>          
           
            <a class="btn btn-danger" 
            href="{% url 'EliminarVO' vehiculo.id %}"><i class="fa fa-trash-alt"></i></a>  
        </td>        
        </td>
        </tr>
            {% endfor %}
    </table>
</div>   

    <div class="container">
             <a href="{% url 'VehiculoCrear' %}"><input class="btn-primary" type="submit" value="Crear"/></a>
            <a href="{% url 'BuscarVehiculo' %}"><input class="btn-primary" type="submit" value="Buscar"></a>
    </div> 

{% endblock contenidoQueCambia %}