{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
<div class="container-lg">
    <h1 class="display-3">Lista de Segmentos</h1>
</div>

    <ul>
        <div class="container-lg">
        {% for segmento in segmentos %}
        <li class="list-group list-group-item-action list-group-item-ligth">
                {{segmento}}
            </li>
            
        {% endfor %}
    </div>
</ul>
        <div class="container">
             <a href="{% url 'SegmentoCrear' %}"><input class="btn-primary" type="submit" value="Crear"/></a>    
            <a href="{% url 'BuscarSegmento' %}"><input class="btn-primary" type="submit" value="Buscar"></a>
    </div> 


{% endblock contenidoQueCambia %}