{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
<div class="container-lg">
    <h1 class="display-3">Lista de Tipo de Vehiculos</h1>
</div>
   
    <ul>
        <div class="container-lg">
        {% for tipov in tipoVehiculos %}
            <li class="list-group list-group-item-action list-group-item-ligth">
                {{tipov}}
            </li>
            
        {% endfor %}
        </div>
    </ul>
    <div class="container">
             <a href="{% url 'TipoVehiculoCrear' %}">
                <input class="btn-primary" type="submit" value="Crear"/></a>
                
            <a href="{% url 'BuscarTipoVehiculo' %}"><input class="btn-primary" type="submit" value="Buscar"></a>
    </div> 


{% endblock contenidoQueCambia %}