{% extends 'padre.html' %}

 {% load static %}

 {% block contenidoQueCambia %}
 <section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg">
                <div class="p-5">
                    <h3>La historia del R4</h3>
                    <p>El Renault 4 es un verdadero ícono. Con más de 8 millones de unidades vendidas en más de 100 países, es un auto intergeneracional que ha marcado a todas las clases sociales durante 60 años, para ciudad y para zonas rurales. Su producción cesó hace 30 años.

                        El 4EVER Trophy es la segunda reinterpretación eléctrica de este modelo, luego del Renault 5. La intención de la marca es volver a sus raíces con un modelo que hizo historia en todo el mundo, pero llevado a la moda actual de los SUV y con la última tecnología.</p>
                    <h3>Así es el 4ever Trophy</h3>
                    <p>Además, el 4EVER Trophy incluye la característica parrilla horizontal del Renault 4, faros redondos de LEDs y luces traseras en forma de cápsula que también recuerdan al clásico modelo. El color exterior, que la marca denomina acero, tiene toques de magenta en las cintas del portaequipaje y la ventana trasera. El modelo también cuenta con un capó hueco, voladizo delantero pequeño, rueda de repuesto en el techo y una pala y placas de extracción de arena en el portón trasero.</p>
                    <div class="col-lg-6">
                        <div ><img class="img-fluid " src="{%static 'assets/img/Renault-Sandero.jpg' %} " alt="..." /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 {% endblock contenidoQueCambia %} 