{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

<link href="{%static 'css/styles.css' %}" rel="stylesheet" />
<p></p>
<h1>Perfil de Usuario: {{user.username}}</h1>
<div class="row-cols-xl-5">
    <div class="container-xl">
        <p>
        
        <div class="container">
        {% if request.user.avatar_set.first.imagen.url != None %}      
            <img height="80px" src="{{request.user.avatar_set.first.imagen.url}}" style=" border-radius: 80px; background-size: 100% auto;"/>
        {% else %}
            <img height="80px" src="{%static 'assets/img/perfilvacio.png' %}" style=" border-radius: 80px; background-size: 100% auto;"/>
        {% endif %}
        </p></div> 
        <a href="{% url 'AgregarAvatar' %}"><input class="btn-primary" type="button" value="Cambiar Foto"></a>
        {% if request.user.avatar_set.first.imagen.url != None %}     
        <a href="{% url 'EliminarAvatar' %}"><input class="btn-primary" type="button" value="Eliminar Foto"></a>
        {% endif %}
    </div>
</div>

<div class="row-cols-xl-5">
    <div class="container-xl">
        <form class="form-control" action="{% url 'EditarPerfil' %}" method="GET" >{% csrf_token %} 
         <fieldset disabled="disabled">
            <label class="form-text">
                {{miFormulario.as_p}}</label>
        </fieldset>
            <input class="btn-primary" type="submit" value="Editar"/>
        </form>
    </div>
</div>
<p></p>
<!-- Modal Structure -->

{% endblock contenidoQueCambia %}