{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

<div class="container-lg" ><h2 class="display-4 "><p>Resultado de Busqueda: {{marca}}</p></h2></div>

    {% if vehiculo %}

        <ul>
            <div class="container-lg">
            {% for vehiculos in vehiculo %}
            <li class="list-group list-group-item-action list-group-item-ligth">
                    
                    {{vehiculos.marca}} -   {{vehiculos.modelo}} -   {{vehiculos.version}}
                </li>
            {% endfor %}
                
        </div>
    </ul>
    <div class="container">
        <a href="{% url 'ListaVehiculo' %}"><input class="btn-primary" type="submit" value="Volver"/></a>    
    </div> 

    {% else %}

        <p>No hubo coincidencias!</p>
        
    {% endif %}
        

{% endblock contenidoQueCambia %}