{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

<div class="container-lg" ><h2 class="display-4 "> Resultado de Busqueda: {{tipoVehiculo}}</h2></div>

    {% if tipoVe %}

    <ul>
        <div class="container-lg">

            {% for tipovehiculo in tipoVe %}
            <li class="list-group list-group-item-action list-group-item-ligth">
                    
                    {{tipovehiculo.name}}
                </li>
            {% endfor %}
        </div>
    </ul>
    <div class="container">
        <a href="{% url 'ListaTipoVehiculo' %}"><input class="btn-primary" type="submit" value="Volver"/></a>    
    </div> 
    {% else %}

        <p>No hubo coincidencias!</p>
        
    {% endif %}
        

{% endblock contenidoQueCambia %}