{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
    <div class="container-lg" ><h1 class="display-4 "> Agregar Vehículos</h1></div>  
    
    <div class="row-cols-xl-5">
    <div class="container-xl">
        <p>
        
        <div class="container">
        <form class="form-content" action="{% url 'TipoVehiculoCrear' %}" method="POST">{% csrf_token %}

        {{miFormulario.as_p}}

        <input class="btn-primary" type="submit" value="Enviar"/>

    </form>
    
</div>
</div>
</div>

{% endblock contenidoQueCambia %}