{% extends 'padre.html' %}

 {% load static %}

 {% block contenidoQueCambia %}
 <section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg">
                <div class="p-5">
                    <h2 class="display-6">Te contamos 3 consejos sobre cómo eficientizar el uso y, en consecuencia, cómo mantener un auto en buen estado.</h2>
                    <h3>1 | La elección</h3>
                    <p>Aunque sea el más difícil, es importante darle importancia a este ítem a la hora de decidir la compra. Lo fundamental es tener en cuenta cuál será el uso real que le daremos al auto. Un motor más potente será un gran aliado en la ruta, pero si el 90% del tiempo usamos el auto en ciudad, quizás sea mejor sacrificar algo de velocidad a la hora de las vacaciones y mejorar el día a día. Elegir el auto en relación al uso que se le va a dar es el primer paso para eficientizar el uso y mantenerlo en buen estado.

                        Hoy, en Argentina, los autos tienen una etiqueta de eficiencia energética y ese puede ser un buen camino para elegir. Además, el instrumental de la mayoría de los modelos tiene información que nos puede ayudar a mejorar las conductas al volante.</p>
                        <h3>2 | El mantenimiento</h3>
                        <p>Un auto que funciona mal puede consumir combustible de más, por lo que conviene revisarlo. Dos puntos son importantes: los filtros (de aire y de combustible) y los neumáticos. La mayoría de las personas olvida controlar periódicamente la presión de estos últimos, un factor que incide directamente en el consumo de combustible. Como en una bicicleta, un neumático desinflado requiere de más esfuerzo y eso lleva a más consumo.</p>
                    <h3>3 | Uso adecuado de las marchas</h3>
                    <p>Cada motor tiene su rango de funcionamiento óptimo. Para mantener el auto en buen estado es importante consultar esta información en el manual de instrucciones. Pero, en general, en el uso cotidiano no es necesario estirar el pase de marchas más allá de las 2.500 o 3.000 revoluciones por minuto (rpm).

                        Buena parte de los autos nuevos traen un indicador de pase de marchas (con flechas hacia arriba y hacia abajo), que busca evitar exceso de revoluciones para ganar eficiencia. </p>
                    </div>
            </div>
        </div>
    </div>
</section>

 {% endblock contenidoQueCambia %} 