{% extends 'padre.html' %}

{% load static %}

{% block contenidoQueCambia %}
<div class="container-lg">
    <h1 class="display-4">Crear vehículo</h1> 
</div>   
<div class="row-cols-xl-5">
    <div class="container-xl">
        
        <form class="form-control" action="{% url 'VehiculoCrear' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <label class="form-text">
                    {{miFormulario.as_p}}</label>         
            <input  class="btn-primary" type="submit" value="Enviar"/>
        </form>

    </div>
</div>
<p></p>
{% endblock contenidoQueCambia %}